<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Today Support</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="image/favicon.png" type="image/x-icon">
</head>
<body>
<div class="header">
    <h1 style="flex-grow: 1; text-align: center; color: white; margin-left: 20px; cursor: pointer;" onclick="window.location.href='/home'">Chat Today</h1>

</div>

<div class="support-hero">
    <div class="support-text-box">
        <h1>Sorry</h1>
        <p>We would love to help you out with your problems. If you have a complaint or need any form of assistance navigating our website, please call during our open hours.</p>
    </div>
    <div class="phone-box">
        <h2>(+45) 67676767</h2>
        <p>Our call centers are open every February 29th from 5:00 AM - 5:25 AM.</p>
    </div>
</div>
</body>
</html>
